@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    background-color: #ebecf0;
    scroll-behavior: smooth;
}
/* common styles */
a {
    text-decoration: none;
    color: white;
}




/* ------------NAVIGATION BAR--------------*/
#nav-bar {
  background-color: #272828;   
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
 border-bottom: solid 2px white;
 border-top: solid 2px white;
}
#nav-bar ul{
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#nav-bar ul li {
    list-style-type: none;
    color: #fff;
    justify-self: center;
}



/*-------------LAYOUT----------------*/
/*.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto; /* to center the container
    display: grid;
    padding: 7rem;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}

.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
    background-color: #272828;
}

.profile-wrapper {
    display: flex;
    gap: 4rem;
    padding: 2rem;
}
.profile-image {
    max-width: 200px;
}
.profile-image img {
    border-radius: 120%;
}
.profile-firstname {
    color: white;
    font-weight: 200;
    font-size: 2rem; /* clamp(2rem, 8vw, 4rem)
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile-lastname {
    color: rgb(45, 45, 196);
    font-weight: 200;
    font-size: 4rem; /*clamp(2.5rem, 15vw, 7rem)
    display: block;
    text-transform: uppercase;
}*/



/*----------LAYOUT-------------*/
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto; /* to center the container*/
}

/*-------------PROFILE/HERO SECTION-----------*/
.profile{
    background-color: #272828;
    padding: 2rem;
    border-bottom: 2px solid rgb(45, 45, 196);
}

.profile-wrapper { /*used display grid because */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 85%;
    margin: auto;
}

.profile-info{
    margin-right: 1rem;
}
.profile-image {
    max-width: 200px;
    margin-left: 5rem;
}
.profile-image img {
    border-radius: 120%;
}
.profile-firstname {
    color: white;
    font-weight: 500;
    font-size: 4.5rem; /* clamp(2rem, 8vw, 4rem)*/
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;

}
.profile-lastname {
    color: white;
    font-weight: 500;
    font-size: 4rem; /*clamp(2.5rem, 15vw, 7rem)**/
    display: block;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
}
.profile-title {
    color: white;
    font-size: 1.5 rem;
    font-weight: 400;
    text-transform: uppercase;
}
.profile-contact {
    grid-column: 1 / 3;
}
.profile-contact li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
   
}
.profile-contact ul {
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.profile-contact a {
    color: white;
    
    
}
.material-symbols-outlined{
    color: white;
    margin-bottom: 0.5rem;
}

/*---------------RESUME MAIN SECTION--------------*/

.resume {
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 5rem;
    padding: 3rem;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    
}

.resume-description {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight:300;
    color: #737373;
}
.resume-heading {
    color:#272828;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.resume-subheading {
    color: #282522;
    font-weight: 500;
    font-size: 1.2rem;
}
.resume-left, .resume-right {
    display: flex;
    flex-direction: column;
    gap: 3rem
}
.resume-left {
    padding-right: 2rem;
    padding-left: 2rem;
}
.resume-right{
    padding-right: 2rem;
}
.resume-bottom {
    border-top: 1px solid #a6a6a6;
    grid-column: 1 / 3;
    width: 80%;
   margin: 0 auto;
    padding-top: 3rem;
}

/*-----SKILL SECTION---------*/

.resume-skills ul {
    margin-top: 1rem;
    margin-left:2rem;
    line-height: 2;
}

/*--------EDUCATION SECTION--------*/

.education-container, .experience-container, .project-container {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
}
.education-2 ul {
    list-style-type: none;
}
.education-content, .experience-content, .project-content {
    display: flex;
    gap: 1.2rem; /*instead of using margin. used gap to create space*/
    align-items: flex-start;
}
.education-content .year, .experience-content .year, .project-content .year {
    padding-top: 0.3rem;
}
.project-content a {
    color:#000;
    font-weight: 500;
}
/*Border bottom*/

.resume-introduction, .resume-skills, .resume-education {
    border-bottom: 1px solid #a6a6a6;
    padding-bottom: 1.5rem;
}

/*-------------FORM SECTION--------------------*/

form {
margin: 2rem auto;
}
.resume-bottom> .resume-heading {
    text-align: center;
}
.form-half {
    display: flex;
    justify-content: space-between;
}
.form-half input {
    border-radius: 4px;
    border: 1px solid #272828;
    padding: 1rem;
    width: 90%;
    background: transparent;
    height: 2.75rem;
    font-size: 1.2rem;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 48%;
}

form label {
    display: block;
    margin-bottom: 1rem;
}
.form-radiobtn{
    display:flex;
    flex-direction: column;

}
.form-radiobtn .radio-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 60%;
}
.form-radiobtn .radio-container p {
    padding-right: 1rem;
}
.form-full select {
    font-family: poppins;
    margin-bottom: 2rem;
    width: 80%;
    
}
.form-full textarea {
background: transparent;
border-radius: 4px;
border: 1px solid #272828;
padding: 0.8rem 1rem;
width: 90%;
height: 60%;
font-size: 1.2rem;
}

.submit-btn input{
    background: #272828;
    color:#fff;
    border-radius: 4px;
    border: 1px solid #272828;
    cursor:pointer;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: poppins;
    padding: 1.4rem;
    margin-top: 1rem;
}

footer {
    height: 45vh;
    background-color: #272828;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto; 
    border-top: 2px solid rgb(45, 45, 196);
}
footer .profile-contact {
    padding-top: 3rem;
}
footer .profile-contact ul {

}
footer .resume-heading {
    color:#fff;
    padding: 2rem;
    text-align: center;
    width: 90%;
    font-weight: normal;
}
footer #copyright{
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   gap: 3rem;


}
footer #copyright #copyright-text{
    
 
}
#copyright .material-symbols-outlined {
    font-size: 4rem;
    background-color: white;
    color:#272828;
    border-radius: 100px;
   align-self: flex-end;
}

/*---------------MEDIA QUERIES-----------------*/
@media  screen and (max-width: 768px) {
    .profile-wrapper {

       display: flex;
       flex-direction: column;
    
    }
    .profile-wrapper .profile-info {
        align-self: center;
    }
    .profile-contact ul{
        width: 100%;
        align-items: center;
    }
    .resume {
        display: flex;
        flex-direction: column;
    }

  
}